<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="quizApp" ng-controller="MainController">

    <ion-pane>
      <ion-header-bar class="bar-balanced">
        <h1 class="title">Avi's quiz</h1>
      </ion-header-bar>
      <ion-content>
        <script type='text/ng-template' id="questionDivInline.html">
            <div class="card" id="quiz_area_div">
              <div class="item item-text-wrap" id="question_here"><b>{{quizObjectJSON[questionNumber].question}}</b></div>
                <div class="list">
                  <label><ion-radio ng-model="answeredQuiz[questionNumber].userAnswer" ng-value="0">{{quizObjectJSON[questionNumber].choices[0]}}</ion-radio></label>
                  <label><ion-radio ng-model="answeredQuiz[questionNumber].userAnswer" ng-value="1">{{quizObjectJSON[questionNumber].choices[1]}}</ion-radio></label>
                  <label><ion-radio ng-model="answeredQuiz[questionNumber].userAnswer" ng-value="2">{{quizObjectJSON[questionNumber].choices[2]}}</ion-radio></label>
                  <label><ion-radio ng-model="answeredQuiz[questionNumber].userAnswer" ng-value="3">{{quizObjectJSON[questionNumber].choices[3]}}</ion-radio></label>
                </div>
            </div>
        </script>
        <div id="welcome_div" ng-hide="hideWelcomeDiv">Welcome to my quiz. Please click "Next" to continue</div>
        <question-div ng-show='isQuizActive'></question-div>
        <div class ="card" id="final_results" ng-show="scoreQuizNow">
          <p class="item item-divider" id="final_score_number">You scored {{finalScore}} out of {{answeredQuiz.length}} on the quiz </p>
          <p class="item item-text-wrap" id="perfect_score" ng-show="perfectQuiz">Nicely done! You answered all the questions correctly</p>
          <div ng-show="anyWrong">
            <div class="item item-divider" background-color="red">Wrongly answered questions</div>
            <div class="item item-text-wrap" ng-repeat="wrongAnswer in wrongAnswers">On the following question: <b>{{wrongAnswer.question}}</b> <br> You selected: <span class="wrong_choice"> {{wrongAnswer.choices[wrongAnswer.userAnswer]}} </span> <br> The correct answer is: <span class="correct_choice">{{wrongAnswer.choices[wrongAnswer.correctAnswer]}} </span>
            </div>
          </div>
          <div ng-show="anyMissed">
            <div class="item item-divider" background-color="yellow">Unanswered Questions</div>
            <div class="item item-text-wrap" ng-repeat="notAnswered in notAnswereds"> You didn't pick an answer for: <b>{{notAnswered.question}} </b> <br> The correct answer is: <span class="correct_choice"> {{notAnswered.choices[notAnswered.correctAnswer]}} </span> </div>
          </div>
        </div>
        <div class="button-bar">
          <a class="button button-outline button-royal" ng-click="backButtonOnclick()" ng-show='isQuizActive' ng-disabled="questionNumber<=0">Go back to first question</a>
          <a class="button button-outline button-balanced" ng-click="nextButtonOnclick()" ng-disabled="questionNumber===quizObjectJSON.length-1" ng-show='!scoreQuizNow'>Next</a>
        </div>
        <button class="button button-full button-assertive" ng-show='questionNumber===quizObjectJSON.length-1' ng-click="finishButtonOnclick()">Finish and score quiz</button>
        <button class="button button-block button-calm" ng-show='isQuizDone' onclick="location.reload()">Reload quiz?</button>
      </ion-content>
    </ion-pane>
  </body>
</html>
